<footer>
    <small class="contact">നിങ്ങളുടെ "ഡാംഗിറ്റ്, ഗിറ്റ്!" നിമിഷം എന്താണ്? എന്നോട് പങ്കുവെക്കൂ!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>
