<p>*നിരാകരണം: ഈ സൈറ്റ് ഒരു സമ്പൂർണ്ണ റഫറൻസ് ആകാൻ ഉദ്ദേശിക്കുന്നില്ല. ഇതേ കാര്യങ്ങൾ ചെയ്യാൻ കൂടുതൽ സൈദ്ധാന്തിക ശുദ്ധിയോടെ വേറെ വഴികളുമുണ്ട്, പക്ഷേ ഞാൻ ഈ ഘട്ടങ്ങളിൽ എത്തിയത് ശ്രമവും തെറ്റും ഒരുപാട് ആക്രോശങ്ങളും മേശ മറിക്കലുമൊക്കെ കഴിഞ്ഞ്, ഈ ഭ്രാന്തൻ ആശയം ഒരു നല്ല ഡോസ് ലേവ്ടിയോടെ പങ്കുവെക്കണം എന്ന് തോന്നി. ഇഷ്ടമാണോ ഇല്ലയോ, നിങ്ങളുടെ ഇഷ്ടം!</p>
